/* Set Fonts */
body, p, h1, h2, h3, a, figure, figcaption, .reflection{
	font-family: Arial, Helvetica, sans-serif;
	color: #555566;
	text-align: center;

}

/* Colors 

	Offwhite background: #eeeeee;
	Default Blue text: #5555ff;
	Default visited text: #7777ff;

	Add more colors here as they are used
	(would just use CSS variables, but those aren't reliable yet.)
*/

body{
	background: #ffffff;
}

p{
	background: #ffffff;
	
}

/* containers */

body{
	margin-left: 0px;
	margin-right: 0px;
}

footer{
	display: block;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20px;
	margin-bottom: 200px;
}

.prev{
	float: left;
}
.next{
	float: right;
}
.index{
	margin: 0px 20px;
}

/* headers */

body h1, body h2{
	margin-right: 15%;
	margin-left: 15%;

}

body h1{
	margin-top: 60px;
	font-size: 50px;
	text-align: center;

	border-bottom:dotted;
	border-top:none;
	border-right:none;
	border-left: none;
	border-width: 1px;

	padding-bottom: 25px;

}

body h2{
	font-size: 30px;
}

/* images and figures */

img{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;

	width: 100%;
	height: auto;
	text-align: center;
}

figure{
	/*border: 2px dotted #5555FF;*/
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 0px;
	margin-bottom: 0px;
}

figcaption{
	/*border-top: 2px dotted #5555FF;*/
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	width: 100%;
}

figure img{
	border: none;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	padding: 0px;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 443px;

	/*width: 80%;*/
	/*padding: 20%;*/
}

.gallery li figure img{
	max-width: 100%;
	margin: 0px;
	display: block;
}

.gallery li figure{
	/*display: inline;*/
	display: block;
	margin: 3px 0px;
	width: 100%;
	float: left;
}

.gallery li figure figcaption{
	width: 100%;
	display: block;
	background: #FFF;
}

.gallery li{
	display: inline-block;
	/*width: 32%;*/
	float: none;
}
.gallery.three li{
	width: 32%;
	height: 380px;
}
.gallery.two li{
	width: 47%;
	margin: 2px;
	height: 520px;
}

.gallery.three li figure img{
	max-height: 330px;
}

.gallery{
	margin: 0px 20px;
	padding: 0px;
	list-style-type: none;
	display: block;
}

.vertical{
	/*For portrait oriented photos*/
}

.top_image{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;

	width: 100%;
	height: auto;
	text-align: center;
}

.class_image{
	height: auto;
	width: auto;
	max-width: 80%;
	padding: 10px;
}

.index_image{
	width:auto;
	height: auto;
	max-width: 100%;
}

.pano{
	height: 300px;
	background-repeat:no-repeat;
	background-attachment: scroll;
	background-size: 100% auto;
}

/* sections */

section {
	padding: 0px;
	/*border-bottom: 2px dotted #5555FF;*/
	display: block;
}

.sector{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	/*border-bottom: 2px dotted #5555ff;*/
}

/* text and links */

p, .reflection{
	/*padding: 20px 40px;*/
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 30px;
	padding-bottom: 30px;

	margin: 0px;
	
	text-align: justify;
	text-justify: inter-word;
	font-size: 20px;
	/*font-family: Georgia;*/
	color: #555566;
	text-indent: something;
	text-wrap: something;
}

.reflection{
	/*font-style: italic;*/
}

.reflection.off{
	background: #eeeeee;
}

a{
	color: #7777ff;
	text-decoration: none;
	text-align: center;

}

a:hover{
	text-decoration: underline;
}

a:visited{
	color: #7777ff;
}

/* index pages */

/* index.html */
.class_container{
	display: block;
	padding-left: 15%;
	padding-right: 15%;
}

.class{
	display: inline-block;
	width: 32%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align:center;
	font-size: 40px;
}

/* [greece/italy].html */
.index_left{
	display: inline-block;
	text-align: left;
	margin-left: 10%;
	margin-right: 0%;
	float:left;
	max-width: 40%;
}

.day{
	text-align: left;
	display: block;
}

.index_right{

	width: 35%;
	margin-right: 10%;
	margin-left: 0%;
	float: right;
	display: inline-block;
}



